<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mission to Mars</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	
    <link href="./style.css" rel="stylesheet">

</head>

<body>

     <!-- top section with button to scrape mars data-->
    <div class="container">
        <div class="jumbotron text-center">
            <h1>Mission to Mars</h1>
            <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data!</a></p>
        </div>
        
		<div class="container">
		{% for mars in mars %}
			 <!-- mars weather marquee -->
			<div id="mars_weather" class="col-12 col-lg-12 col-md-8 col-sm-4  text-right"> 
				 <marquee>Current Weather on Mars: {{ mars['weather'] }}</marquee>
			</div>

					 <!-- mars lates news section -->
					<div id="header_1" class="col-12 col-lg-12 col-md-8 col-sm-4  text-left"> 
							<h2>Latest Mars News:</h2>
							<h3>{{ mars['news_title'] }}</h3>
							<p>{{ mars['news_teaser'] }}</p>
							<hr>
					</div>
					
					 <!-- mars featured image section -->
					<div id="header_1" class="col-8 col-lg-8 col-md-6 col-sm-3  text-left"> 
							<h2>Featured Mars Image:</h2>
							<img id= "main_pic" style="float: left" src="{{ mars['main_img_url'] }}" class="img-responsive" alt="Cinque Terre">
					</div>
					
					<!--
					<div id="table" class="col-4 col-lg-4 col-md-3 col-sm-2  text-left"> 
							<h3>Mars Facts</h3>
							
								 {{ mars['facts_table'] }}
								
							</table>
					</div>
					-->

					<!-- Mars Facts -->
					<div class="row" id="mars-facts">
							<div class="col-md-4">
								<h2>Mars Facts:</h2>
								{{mars.facts_table | safe}}
							   </div>
					</div>
						
					 <!-- hemisphere section header-->
					<box id="box" class="col-12 col-lg-12 col-md-8 col-sm-4  text-center"> 
							<hr>
							<h3>Mars Hemispheres</h3>
							<hr>
					</box>
			
					<!-- hemisphere section -->
					
					<div class="container">
							<div id="thumbnails" class="col-6 col-lg-6 col-md-4 col-sm-3  text-center">
								<div class="card" style="width:400px">
									<a href="{{ mars['hem_img'][0]['url'] }}"><img class="card-img-top img-responsive" src="{{ mars['hem_img'][0]['url'] }}" alt="Card image"></a>
									<div class="card-body">
										<h4 class="card-title">{{ mars['hem_img'][0]['title'] }}</h4>
									</div>
								</div>
							</div>
						  
							
							<div id="thumbnails" class="col-6 col-lg-6 col-md-4 col-sm-3  text-center">
								<div class="card" style="width:400px">
									<a href="{{ mars['hem_img'][1]['url'] }}"><img class="card-img-top img-responsive" src="{{ mars['hem_img'][1]['url']   }}" alt="Card image"></a>
									<div class="card-body">
										<h4 class="card-title">{{ mars['hem_img'][1]['title'] }}</h4>
									</div>
								</div>
							</div>
					</div>

					<div class="container">
							<div id="thumbnails" class="col-6 col-lg-6 col-md-4 col-sm-3  text-center">
								<div class="card" style="width:400px">
									<a href="{{ mars['hem_img'][2]['url']  }}"><img class="card-img-top img-responsive" src="{{ mars['hem_img'][2]['url'] }}" alt="Card image"></a>
									<div class="card-body">
										<h4 class="card-title">{{ mars['hem_img'][2]['title'] }}</h4>
									</div>
								</div>
							</div>
		
							<div id="thumbnails" class="col-6 col-lg-6 col-md-4 col-sm-3  text-center">
								<div class="card" style="width:400px">
									<a href="{{ mars['hem_img'][3]['url'] }}"><img class="card-img-top img-responsive" src="{{ mars['hem_img'][3]['url'] }}" alt="Card image"></a>
									<div class="card-body">
										<h4 class="card-title">{{ mars['hem_img'][3]['title'] }}</h4>
									</div>
								</div>
							</div>
					</div>
               
         {% endfor %}
		 </div>
    </div>        
           

</body>

</html>
